<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>831117595299-d6gdek2bvg2co1569js57qeuqink9lcv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831117595299-d6gdek2bvg2co1569js57qeuqink9lcv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>831117595299-lopqji8kkfkont8l5giqakcsvoe9pm4r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDHoIHakTPDwUAmod9-o9Ed32EBJJS_sz8</string>
	<key>GCM_SENDER_ID</key>
	<string>831117595299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mat.dweb.crudusuarios</string>
	<key>PROJECT_ID</key>
	<string>crud-usuarios-cng08t</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-usuarios-cng08t.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831117595299:ios:4aa68d3271c938ec09a516</string>
</dict>
</plist>